<footer class="bg-d-green c-white flex center-x">
	<div class="flex center">
		<p class="m0 flex-c gap2">
			<small>Desenvolvido por</small>
			<span>Marcio Rodrigues Paiva Coelho</span>
			<span class="flex sb">
				<small>RA 0050831921015</small>
				<a href="https://github.com/coelhomarcio" target="_blank"
				   class="c-red f-dec-n flex-i gap4 a-hover">
					<span class="a-hover-tu">GitHub</span>
					<mat-icon class="w-i h-i fs16 a-hover-ts">launch</mat-icon>
				</a>
			</span>
		</p>
	</div>
</footer>
